
@import url('data:application/octet-stream;base64,QGZvbnQtZmFjZSB7CiAgZm9udC1mYW1pbHk6ICdPcGVuIFNhbnMnOwogIGZvbnQtc3R5bGU6IG5vcm1hbDsKICBmb250LXdlaWdodDogNDAwOwogIHNyYzogbG9jYWwoJ09wZW4gU2FucyBSZWd1bGFyJyksIGxvY2FsKCdPcGVuU2Fucy1SZWd1bGFyJyksIHVybChodHRwczovL2ZvbnRzLmdzdGF0aWMuY29tL3Mvb3BlbnNhbnMvdjE1L21lbThZYUdzMTI2TWlacEJBLVVGVlowZS50dGYpIGZvcm1hdCgndHJ1ZXR5cGUnKTsKfQpAZm9udC1mYWNlIHsKICBmb250LWZhbWlseTogJ1JvYm90byBTbGFiJzsKICBmb250LXN0eWxlOiBub3JtYWw7CiAgZm9udC13ZWlnaHQ6IDQwMDsKICBzcmM6IGxvY2FsKCdSb2JvdG8gU2xhYiBSZWd1bGFyJyksIGxvY2FsKCdSb2JvdG9TbGFiLVJlZ3VsYXInKSwgdXJsKGh0dHBzOi8vZm9udHMuZ3N0YXRpYy5jb20vcy9yb2JvdG9zbGFiL3Y3L0JuZ01VWFpZVFhQSXZJQmdKSlNiNnVmTjVxQS50dGYpIGZvcm1hdCgndHJ1ZXR5cGUnKTsKfQo=');

*{
 box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6{

  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;


}

body{
	margin:0;
	font-family: 'Roboto Slab', serif;
}



.contenedor {
	margin: auto;
	width: 99%;
}

/*Estilos del header*/

.header{

height: 40px;


}
 
.header .contedor{
  display: flex;
  justify-content: space-between;

}
.logo{
	
	display: inline-block;
	text-shadow: 1px 1px 3px black;


}
.logo, .icon-menu {
  margin: 2px;
  color: white;
  font-size: 1.3em;
  margin-left: 70px;
 -webkit-text-fill-color: white;
-webkit-text-stroke: 1px black;
}
.banner_titulo{
	-webkit-text-fill-color: white;
-webkit-text-stroke: .7px black;
}
.icon-menu{	
display: block;	
width: 40px;
height: 40px;
margin-top: -25px;
font-size: 30px;
background: #FBA919;
text-align: center;
line-height: 45px;
border-radius: 5px;
margin-left: auto;
cursor: pointer;


}

/*------Estilos del Menu-------------------*/
.nav{

 position: absolute;
 top: 60px;
 left:-100%;
 width: 100%;
 transition: all 0.5s; 



}

.menu{

list-style: none;
padding:0;
margin: 0; 

}

.menu__link{

display: block;
padding: 15px;
background:#FBA919; 
text-decoration: none;
color: #fff;

}

.menu__link:hover{

background: white;
color: #FBA919;

}

.mostrar{

	left: 0;
}


.select{
background:white;
color: #FBA919; 

}
/*estilos de menu*/

/*Estilos banner*/

.banner{

  margin-top: -40px;
  position:relative;
  z-index: -1;
  margin-bottom: 15px;

}
.banner .contenedor{
	position: absolute;
	top: 55%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 0.6em;



}
.banner_txt{
display: none;
}
/*Estilos de info*/
.info__columna{

	background: #FBA919;
	color: white;
	padding: 15px;
	margin-bottom: 20px;
}


/*................Estilos de cursos...................*/
.section__titulo{
text-align: center;
font-size: 30px;
color: #FBA919;
}


.cursos_columna{
width: 100%;	
position: relative;
margin-bottom: 30px;


}

.cursos__descripcion{

	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: rgba(0,0,0,0.5);
	width: 60%;
	height: 100%;
	padding: 5px;
}
.cursos__img{
	width: 100%;
}
.cursos__titulos{
 font-size: 30px;
 margin: 5px 0;

}

/*--------------------Estilos de footer-------------------*/

.footer{
	background: #333;
	color:#fff;
	padding: 10px;
	text-align: center;


}

.footer .social a{
display: inline-block;

}

.footer .social img{
	text-decoration: none;
border-radius: 20%;
margin: 5px;

}

/*------------Estilos responsive--------------------------*/

@media (min-width: 480px) {

	
	.icon-menu{
     	margin-top: -45px;
     }
	.logo{
		margin-left: 120px;
		font-size: 40px;
	}

	.banner_titulo{
		font-size: 25px;
		margin: 5px 0;
		-webkit-text-fill-color: white;
		-webkit-text-stroke: 1px black;
	}
	.banner_txt{
		display: block;
		font-size: 30px;
		margin:7px;
		-webkit-text-fill-color: white;
		-webkit-text-stroke: 0.5px black;
	}

	.info, .cursos{
		display:flex; 
		justify-content: space-between;
		margin-top:-30px;
	}

	.info__columna{
		width: 32%
	}

	.info__titulo{
		font-size: 30px;
		margin:3px 0;
	}

	.cursos{
   flex-wrap: wrap;
   margin-top: 0;

	}
	.section__titulo{
		width: 100%;
	}

	.cursos_columna{
		width: 48%;
	}
 
  .footer .social img{
margin:0 10px;

}


@media(min-width: 768px){
     .icon-menu{
     	margin-top: -70px;
     }
	.logo{
		font-size: 60px;
		margin-left:70px
	}

	.banner_titulo{
		font-size: 50px;
	}
	.banner_txt{
		font-size: 40px;
	}

	.cursos__titulos{
		font-size: 40px;
	}
	
}
@media(min-width: 1024px){
   .contenedor{
   	width: 1000px;
   }

   .logo{
   	text-align: center;
   }
	.nav{
		position: static;
		width: auto;
	}
	.menu{
		display: flex;
		position: absolute;
		top: 0px;
		right: 0px;
	}

	.icon-menu{
		display: none;
	}
	.menu__link{
		background: none;
		font-size: 1.5em;
	}


.banner_titulo{
	margin-top: -70px;
	font-size: 65px;
}
.select{
	color: #fff;
	background:#FBA919;
}
.banner_txt{
	margin-top:-10px;
}
.cursos_titulo{
	font-size: 50px;
}
}
@media(min-width: 1280px){

	.contenedor{
		width: 1200px;
	}
   
   .banner .contenedor{
	top:40%;

   }
   .info{
   	margin-top: -200px;

   }
   .section__titulo{
   	font-size: 40px;
   }
   .cursos__titulos{
   	font-size: 45px;
   	text-align: center;
   }
   .cursos__txt{
   	font-size: 20px;
   	text-align: justify;
   	padding: 5px;
   }
   .footer .social img{
   	width:45px;
	margin:0 30px;

}
}

}




